rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    function isSignedIn() {
      return request.auth != null;
    }

    match /perfumes/{perfumeId} {
      // Allow public read for lists and individual documents
      allow read: if true;
      
      // Allow writes only for signed-in users
      allow write: if isSignedIn();
    }
    
    match /users/{userId} {
      // Allow users to read and update their own profile.
      allow read, update: if isSignedIn() && request.auth.uid == userId;
      // Allow users to create their own profile document upon registration.
      allow create: if isSignedIn() && request.auth.uid == userId;
    }
  }
}
