rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // Helper function to check if the current user is signed in.
    function isSignedIn() {
      return request.auth != null;
    }

    match /perfumes/{perfumeId} {
      allow read: if true;
      allow write: if isSignedIn();
    }
    
    match /users/{userId} {
      allow read, write: if isSignedIn() && request.auth.uid == userId;
    }
  }
}
